body {
  background-image: url("image.png");
  background-size: cover;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: blue;
}

#save-btn {
  background: green;
}

p {
  font-size: large;
}
div {
  max-width: 100%;
}

.counterApp {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
